In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
intc_df = pd.read_csv('../data/INTC.csv')

In [4]:
null_df = intc_df[intc_df.Volume.isna()]

In [5]:
intc_df.head()

         Date   Open   High    Low  Close    Volume  Name
0  2006-01-03  25.19  25.64  24.90  25.57  56409085  INTC
1  2006-01-04  25.60  25.94  25.59  25.91  46189650  INTC
2  2006-01-05  25.93  26.47  25.91  26.27  54893195  INTC
3  2006-01-06  26.48  26.63  26.21  26.31  45703307  INTC
4  2006-01-09  26.39  26.51  26.09  26.47  39461729  INTC

In [20]:
null_df

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Name]
Index: []

In [21]:
intc_df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Name      0
dtype: int64

In [33]:
intc_nodate_df = intc_df.filter(['Open', 'High', 'Low', 'Close', 'Volume'])

In [32]:
intc_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Name'], dtype='object')

In [38]:
intc_nodate_df.to_csv('/Users/Coho/DSI/casestudy/dow/data/intc_nonamedate.csv')

In [79]:
df = pd.read_csv('../data/intc_nonamedate.csv',index_col = 0)
seq_len = 60
data = df.values
sequence_length = seq_len + 1
result = []
for index in range(len(data) - sequence_length):
    result.append(data[index: index + sequence_length])

In [80]:
result[0].shape

(61, 5)

In [75]:
result

array([[[  2.51900000e+01,   2.56400000e+01,   2.49000000e+01,
           2.55700000e+01,   5.64090850e+07],
        [  2.56000000e+01,   2.59400000e+01,   2.55900000e+01,
           2.59100000e+01,   4.61896500e+07],
        [  2.59300000e+01,   2.64700000e+01,   2.59100000e+01,
           2.62700000e+01,   5.48931950e+07],
        ...,
        [  1.97500000e+01,   1.98600000e+01,   1.95600000e+01,
           1.95800000e+01,   7.26988600e+07],
        [  1.96100000e+01,   1.99600000e+01,   1.95100000e+01,
           1.98200000e+01,   8.12429930e+07],
        [  1.99000000e+01,   2.00300000e+01,   1.96500000e+01,
           1.97000000e+01,   7.06563470e+07]],

       [[  2.56000000e+01,   2.59400000e+01,   2.55900000e+01,
           2.59100000e+01,   4.61896500e+07],
        [  2.59300000e+01,   2.64700000e+01,   2.59100000e+01,
           2.62700000e+01,   5.48931950e+07],
        [  2.64800000e+01,   2.66300000e+01,   2.62100000e+01,
           2.63100000e+01,   4.57033070e+07],
        ...,
        [  1.96100000e+01,   1.99600000e+01,   1.95100000e+01,
           1.98200000e+01,   8.12429930e+07],
        [  1.99000000e+01,   2.00300000e+01,   1.96500000e+01,
           1.97000000e+01,   7.06563470e+07],
        [  1.97800000e+01,   1.98800000e+01,   1.93500000e+01,
           1.94600000e+01,   8.68987190e+07]],

       [[  2.59300000e+01,   2.64700000e+01,   2.59100000e+01,
           2.62700000e+01,   5.48931950e+07],
        [  2.64800000e+01,   2.66300000e+01,   2.62100000e+01,
           2.63100000e+01,   4.57033070e+07],
        [  2.63900000e+01,   2.65100000e+01,   2.60900000e+01,
           2.64700000e+01,   3.94617290e+07],
        ...,
        [  1.99000000e+01,   2.00300000e+01,   1.96500000e+01,
           1.97000000e+01,   7.06563470e+07],
        [  1.97800000e+01,   1.98800000e+01,   1.93500000e+01,
           1.94600000e+01,   8.68987190e+07],
        [  1.96800000e+01,   1.97000000e+01,   1.93400000e+01,
           1.93500000e+01,   7.33611400e+07]],

       ...,
       [[  3.78400000e+01,   3.81500000e+01,   3.77000000e+01,
           3.80800000e+01,   2.32173360e+07],
        [  3.81200000e+01,   3.90900000e+01,   3.80800000e+01,
           3.90400000e+01,   3.73945140e+07],
        [  3.89500000e+01,   3.97000000e+01,   3.89500000e+01,
           3.93800000e+01,   3.40021930e+07],
        ...,
        [  4.75400000e+01,   4.75900000e+01,   4.65600000e+01,
           4.67600000e+01,   4.29634510e+07],
        [  4.63300000e+01,   4.70200000e+01,   4.60200000e+01,
           4.67000000e+01,   3.39135370e+07],
        [  4.62800000e+01,   4.64700000e+01,   4.59500000e+01,
           4.60800000e+01,   1.55333280e+07]],

       [[  3.81200000e+01,   3.90900000e+01,   3.80800000e+01,
           3.90400000e+01,   3.73945140e+07],
        [  3.89500000e+01,   3.97000000e+01,   3.89500000e+01,
           3.93800000e+01,   3.40021930e+07],
        [  3.93900000e+01,   3.94000000e+01,   3.88600000e+01,
           3.93400000e+01,   2.83688240e+07],
        ...,
        [  4.63300000e+01,   4.70200000e+01,   4.60200000e+01,
           4.67000000e+01,   3.39135370e+07],
        [  4.62800000e+01,   4.64700000e+01,   4.59500000e+01,
           4.60800000e+01,   1.55333280e+07],
        [  4.61100000e+01,   4.63600000e+01,   4.60000000e+01,
           4.61100000e+01,   1.33596710e+07]],

       [[  3.89500000e+01,   3.97000000e+01,   3.89500000e+01,
           3.93800000e+01,   3.40021930e+07],
        [  3.93900000e+01,   3.94000000e+01,   3.88600000e+01,
           3.93400000e+01,   2.83688240e+07],
        [  3.95000000e+01,   3.96500000e+01,   3.92100000e+01,
           3.95300000e+01,   1.77102770e+07],
        ...,
        [  4.62800000e+01,   4.64700000e+01,   4.59500000e+01,
           4.60800000e+01,   1.55333280e+07],
        [  4.61100000e+01,   4.63600000e+01,   4.60000000e+01,
           4.61100000e+01,   1.33596710e+07],
        [  4.63600000e+01,   4.63600000e+01,   4.59500000e+01,
           4.62200000e+01,   9.50437200e+06]]])

In [76]:
normalised_data = []
for window in result:
    normed = window / window[0] - 1
    normalised_data.append(normed)

In [78]:
result = np.array(normalised_data)
result.shape

(2958, 61, 5)

In [91]:
import os
import run_lstm.py

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/Coho/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2862, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-91-a420dcb02b45>", line 2, in <module>
    import run_lstm.py
ModuleNotFoundError: No module named 'run_lstm'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/Coho/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1806, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ModuleNotFoundError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/Coho/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 1090, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/Coho/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 311, in wrapped
    return f(*args, **kwargs)
  File "/Users/Coho/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 345, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/Coho/anaconda3/lib/python3.6/inspect.py", line 1483, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/Coho/anaconda3/lib/python3.6/inspect.py", line 1441, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/Coho/anaconda3/lib/python3.6/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/Coho/anaconda3/lib/python3.6/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/Coho/anaconda3/lib/python3.6/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/Coho/anaconda3/lib/python3.6/posixpath.py", line 376, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

ModuleNotFoundError: No module named 'run_lstm'

In [6]:
25.57 * .103

2.6337099999999998